<h1>Edit your plant!</h1>

<form action="/plants/<%= @plant.id%>" method="post">
<input type="hidden" name="_method" value="patch">
    <label>Name:</label>
    <input type="text" name="plant[name]" placeholder="name" value="<%= @plant.title %>">
    <input type="submit" value="Edit Plant">
</form>