<h1>Edit your plant!</h1>

<form method="post" action="/plants/<%= @plant.id %>" >
<input type="hidden" name="_method" value="patch">
    <label>Name:</label>
    <input type="text" name="plant[name]" placeholder="name" value="<%= @plant.name %>">
    <input type="submit" value="Edit Plant">
</form>