<h1>New Plant! WOOOHOO!</h1>

<br>

<form action="/plants" method="POST">
<p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    </p>

    <input type="submit" />

</form>